APP_NAME=FastAPI App
APP_ENV=development
DEBUG=True

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=fastapi_app_db

ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=20

REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRE_DAYS=7

OTP_TOKEN_SECRET_KEY=
OTP_TOKEN_EXPIRE_MINUTES=5

ALGORITHM=HS256

OTP_LENGTH=6
OTP_MAX_RETRY=5

COOKIE_SECURE=False
COOKIE_SAMESITE=lax

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8000

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@fastapiapp.com
